

@model IEnumerable<Product>


<div class="container" role="group">
    <div class="row">
        @foreach (var obj in Model.OrderBy(u => u.Name))
        {
            <div class="col-md-4">
                <div class="card border-0 shadow link-underline-opacity-75-hover  " style="max-width:22rem">

                    <div class="badge">HOT SALE</div>
                    <div class="card-img">
                        <div class="img">
                            <img class="card-img" src=@obj.Imageurl alt="@obj.Name">
                        </div>
                       

                    </div>
                    <div class="info">
                        <h2 class="title">@obj.Name</h2>

                        <div class="feats">
                            <span class="feat">Author: @obj.Author</span>
                            <span class="feat">@obj.Category.Name</span><br />
                            <span class="feat">ISBN:@obj.ISBN</span><br />


                        </div>
                        <div class="feats">
                            <span class="feat">Price for 25 copies: $@obj.Price</span>
                            <span class="feat">Price for 50 copies: $@obj.Price50</span>
                            <span class="feat">Price for 100 copies: $@obj.price100</span>
                            
                        </div>
                        <div class="bottom">
                            <div class="price">
                                <span class="new">$@obj.ListPrice</span>
                               
                            </div>
                        </div>
                        <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-primary btn-sm btn-info">
                            <i class="bi bi-eye"></i> View Details
                        </a>
                     
                        <a asp-area="" asp-controller="" asp-action="" asp-route-id="" class="btn btn-primary btn-sm btn-success">
                            <i class="bi bi-cart-plus"></i> Add to cart
                        </a>
                        <a asp-area="" asp-controller="" asp-action="" asp-route-id="" class="btn btn-primary btn-sm btn-danger">
                            <i class="bi bi-heart">Favourite</i>
                        </a>
                       <br />

                        
                           



                           

                   

                    </div>
                </div>
            </div>
        }
    </div>
</div>


